<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Hero - Admin</title>
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
</head>

<body>
  <header>
    <div class="page-header container">
      <h1><a href="/">亡者农药</a> <small>英雄管理器</small></h1>
    </div>
  </header>